<div class="row">
    <div class="col-sm-12 col-md-6">
        <h1 class="my-5 text-light">Mobile Shop DOOEL</h1>
        <div class="row mb-3">
            <i class="fas fa fa-map mr-3"></i><p>avenue "Partizanski Odredi", Skopje 1000</p>
        </div>
        <div class="row mb-3">
            <i class="fas fa-mobile mr-3"></i><p>+389 77 777 777</p>
        </div>
        <div class="row">
            <i class="fas fa-mail-bulk mr-3"></i><p>mobileshop@gmail.com</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 text-right">
        <div>
            <img class="img-fluid img-thumbnail w-75 my-5" src="./img/mobile-store.jpg" alt="Mobile store picture" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 my-4">
        <div id="map" class="img-thumbnail" style="height:500px;width:100%;"></div>
    </div>
</div>

<style> body { background-color: darkgray; } </style>

<script>
    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([21.425, 41.998]),
            zoom: 18
        })
    });
</script>


