@model MobileShop.Models.PhoneViewModel

@{
    ViewData["Title"] = "Create";
}

<h3>Add phone</h3>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-6 offset-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Display" class="control-label"></label>
                <input asp-for="Display" class="form-control" />
                <span asp-validation-for="Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memory" class="control-label"></label>
                <input asp-for="Memory" class="form-control" />
                <span asp-validation-for="Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battery" class="control-label"></label>
                <input asp-for="Battery" class="form-control" />
                <span asp-validation-for="Battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoURL" class="control-label"></label>
                <input type="file" accept="image/*" id="mobileImage" />
                <span asp-validation-for="PhotoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerID" class="control-label"></label>
                <select asp-for="ManufacturerID" class="form-control" asp-items="ViewBag.ManufacturerList"></select>
                <input asp-for="ManufacturerName" hidden class="form-control" />
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary w-50" id="addManufacturer" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" style="width:8rem;" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/site.js"></script>
}
